.table-container {
  margin: 20px;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: inherit;
}

/* CSS classes for 2nd menu bar */
.menu-section {
  display: table;
}
.mat-button {
  margin-right: 10px;
}

.menu_item_text {
  padding-left: 1em;
}

.menu-button-row {
  display: table-cell;
}

/* Table stuff */

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

/* CSS for expanded rows */
.artifact-detail {
  overflow: hidden;
  display: flex;
}

.expanded-content {
  border: 1px;
  margin: 10px;
  width: 20%;
  min-width:100px;
}
.expanded-content-span {
  margin-top:20px;
}

.expanded-button {
  margin: 5px;
}
/* CSS stuff for edit window */
.show-edit {
  visibility: visible;
}
.hide-edit {
  visibility: hidden;
}

