<h2 class="card-headline">Related Modeling Artifacts<button mat-mini-fab color="primary" (click)="openArtifactNewDialog()"><mat-icon>add</mat-icon></button></h2>

editServiceModelArtifacts
<table>
    <tr>
        <th>Unique Name</th>
        <th>Model Kind</th>
        <th>Link</th>
        <th>Actions</th>
    </tr>
</table>


<mat-toolbar>
    <mat-toolbar-row>
        <span>Model Artifacts</span>
        <span class="toolbar-spacer"></span>
        <div class="example-button-row">
            <button mat-flat-button color="primary" (click)="openArtifactNewDialog()">
                <mat-icon>note_add</mat-icon>
                <span class="menu_item_text">Add</span>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z1">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let artifact"> {{artifact[column]}} </td>
        </ng-container>
        <!-- TODO maybe dont generate the columns but do them by hand and then add microservice name as second column? or make id explicitly visible -->
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let artifact">
                <button mat-icon-button aria-label="action row">
                    <button mat-icon-button class="microservice-button" color="warn" (click)="removeArtifact(artifact.id)"><mat-icon>cancel</mat-icon></button>
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
            </td>
    </table>
</div>

