<mat-card class="microservice-edit" *ngIf="editService">
    <mat-card-header>
        <mat-card-title>Edit Microservice {{editService.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="microservice-edit-form">
            <h2 class="card-headline">Name</h2>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Microservice Name</mat-label>
                            <input matInput name="name" placeholder="John" [(ngModel)]="editService.name" required>
                        </mat-form-field>

            <h2 class="card-headline">Repository Link</h2>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Repository Link</mat-label>
                <input matInput type="url"
                       name="repository"
                       placeholder="https://github.com/user/repo" [(ngModel)]="editService.repositoryLink">
            </mat-form-field>

            <h2 class="card-headline">Contact Person</h2>

            <mat-form-field appearance="outline">
                <mat-label>Select a team member</mat-label>
                <mat-select [(value)]="editService.contactPersonId">
                    <mat-option *ngFor="let member of editServiceTeamMember" value="{{member.id}}">{{member.firstname}} {{member.lastname}}</mat-option>
                </mat-select>
            </mat-form-field>

            <h2 class="card-headline">Related Modeling Artifacts</h2>

            <mat-chip-list class="full-width"><mat-chip><mat-icon>sentiment_very_dissatisfied</mat-icon>not implemented yet.</mat-chip></mat-chip-list>

            <h2 class="card-headline">Planned Features</h2>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Planned Features</mat-label>
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let feature of editService.plannedFeatures" (removed)="removeFeature(feature)">
                        {{feature}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="New Feature..."
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addFeature($event)">
                </mat-chip-list>
            </mat-form-field>

        </form>
    </mat-card-content>
    <mat-card-actions>
        <a mat-flat-button class="microservice-button" color="primary" (click)="save()">Save</a>
        <a mat-flat-button class="microservice-button" color="warn" (click)="abort()">Abort</a>
    </mat-card-actions>
</mat-card>