<mat-toolbar>
    <mat-toolbar-row>
        <span>Microservices</span>
        <span class="toolbar-spacer"></span>
        <div class="example-button-row">
            <button mat-flat-button color="primary" routerLink="/system/{{sysId}}/microservices/new">
                <mat-icon>add</mat-icon>
                <span class="menu_item_text">New</span>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="grid-container">
    <mat-grid-list [cols]="cols$ | async" rowHeight="700px">
        <mat-grid-tile *ngFor="let microservice of microservices">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-subtitle>Microservice</mat-card-subtitle>
                    <mat-card-title>{{microservice.name}}</mat-card-title>
                </mat-card-header>
                <mat-divider class="mat-elevation-z5"></mat-divider>
                <mat-card-content class="microservice-card-content">
                    <p></p>
                    <h2 class="card-headline">Owned By</h2>
                    <table *ngIf="microservice.id">
                        <mat-chip-list>
                            <tr>
                                <td>
                                    <mat-chip matTooltip="click to edit team" class="team-chip" *ngIf="microserviceTeams.get(microservice.id)?.name" routerLink="/system/{{sysId}}/teams/edit/{{microserviceTeams.get(microservice.id)?.id}}">
                                            <mat-icon>group</mat-icon>
                                            {{microserviceTeams.get(microservice.id)?.name}}
                                    </mat-chip>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-chip *ngIf="microserviceSpocs.get(microservice.id)">
                                        <a *ngIf="microserviceSpocs.get(microservice.id)?.profileLink" matTooltip="click to visit linked profile"  href="{{microserviceSpocs.get(microservice.id)?.profileLink}}"
                                            target="_blank" class="mat-standard-chip invisLink">
                                        <mat-icon matChipAvatar>contact_support</mat-icon>
                                        {{microserviceSpocs.get(microservice.id)?.firstname}} {{microserviceSpocs.get(microservice.id)?.lastname}}
                                        </a>
                                        <div *ngIf="!microserviceSpocs.get(microservice.id)?.profileLink" class="mat-standard-chip invisLink"><mat-icon matChipAvatar>contact_support</mat-icon>
                                        {{microserviceSpocs.get(microservice.id)?.firstname}} {{microserviceSpocs.get(microservice.id)?.lastname}}</div>
                                    </mat-chip>
                                </td>
                            </tr>
                        </mat-chip-list>
                    </table>
                    <h2 class="card-headline">Availability</h2>
                    <p>
                        <a mat-flat-button matTooltip="click to visit team repository" color="primary" href="{{microservice.repositoryLink}}" target="_blank"
                           class="mat-button" *ngIf="microservice.repositoryLink">Repository</a>
                        <a mat-flat-button color="primary" href="{{microservice.repositoryLink}}" target="_blank"
                           class="mat-button" *ngIf="!microservice.repositoryLink" disabled matTooltip="no repository set.">Repository</a>

                        <a mat-flat-button color="primary" href="" target="_blank"
                           class="mat-button" *ngIf="true" disabled matTooltip="not implemented yet.">Documentation</a>

                        <a mat-flat-button color="primary" href="" target="_blank"
                           class="mat-button" *ngIf="true" disabled matTooltip="not implemented yet.">Known Bugs</a>
                    </p>
                    <h2 class="card-headline">Associated Models</h2>
                    <mat-chip-list>
                        <mat-chip>
                            <mat-icon>sentiment_very_dissatisfied</mat-icon>
                            not implemented yet.
                        </mat-chip>
                    </mat-chip-list>
                    <p></p>
                    <h2 class="card-headline">Planned Features</h2>
                    <mat-chip-list role="list">
                        <mat-chip *ngFor="let feature of microservice.plannedFeatures">
                            <mat-icon>settings</mat-icon>
                            <span> {{feature}}</span>
                        </mat-chip>
                    </mat-chip-list>

                </mat-card-content>
                <mat-card-actions class="full-width" *ngIf="microservice.id">
                    <table class="full-width">
                        <tr>
                            <td>
                                <button mat-flat-button color="primary" matTooltip="click to edit service"
                                        [routerLink]="['/system',sysId,'microservices','edit', microservice.id]">Edit
                                </button>
                            </td>
                            <td>
                                <button matTooltip="click to delete service" mat-flat-button color="warn" (click)="deleteMicroservice(microservice.id!)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </table>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

