@import '../../colors.scss';

.grid-container {
  margin: 20px;
}

.mat-toolbar {
  background: inherit;
}

.toolbar-icon {
  padding: 0 14px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

/* CSS for cards */

.card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.mat-card-actions {
  position: absolute;
  left: 8px;
  bottom: 15px;
  text-align: center;
}

.card-headline {
  margin-top: 1em;
  color : darkgray;
}

.invisLink {
  color:black;
  margin:0;
  padding:0;
}

a.invisLink:link { text-decoration: none; }
a.invisLink:visited { text-decoration: none; }
a.invisLink:hover { text-decoration: none; }
a.invisLink:active { text-decoration: none; }

.microservice-card-content {
  padding-left: 16px;
}

.table-member-expertise {
  text-overflow: ellipsis;
  color: dimgray;
}
.team-chip {
  background: $my-primary;
  color: white;
}
/* CSS classes for 2nd menu bar */
.menu-section {
  display: table;
}
.mat-button {
  margin-right: 10px;
}

.menu_item_text {
  padding-left: 1em;
}

.menu-button-row {
  display: table-cell;
}