.story-button {
  margin: 5px;
}
.story-edit {
  margin: 20px;
}

.story-edit-form {
  min-width: 350px;
  max-width: 700px;
  width:50%;
}

.full-width {
  width: 100%;
}

.card-headline {
  margin-top: 1em;
  color : darkgray;
}