<h1 mat-dialog-title>Add Model Artifact</h1>

<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Model Name</mat-label>
        <input matInput [(ngModel)]="artifact.name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Model Kind</mat-label>
        <mat-select [(ngModel)]="artifact.kind" name="food" required>
            <mat-option *ngFor="let kind of kinds" [value]="kind.value">
                {{kind.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Model Location</mat-label>
        <input type="url" matInput [(ngModel)]="artifact.location" required>
    </mat-form-field>

</div>

<div mat-dialog-actions>
    <button *ngIf="validArtifact()" disabled mat-flat-button color="primary" [mat-dialog-close]="artifact" autofocus>Ok</button>
    <button *ngIf="validArtifact()" mat-flat-button color="primary" [mat-dialog-close]="artifact" autofocus>Ok</button>
    <button mat-flat-button color="warn" (click)="close()">Cancel</button>
</div>
