.system-add-form {
  min-width: 300px;
  width: 50%;
}

.xor-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.xor-line {
  flex: 1;
}

.xor-text {
  padding-left: 10px;
  padding-right: 10px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  max-width: 100%;
  max-height: 70%;
  display: block;
}
.menu_item_text {
  padding-left: 1em;
}
.active-link {
  font-weight: 600;
}
.toolbar-spacer {
  flex: 1 1 auto;
}