<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav class="sidenav"><p>NAV</p></mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <h1>{{title}}</h1>
        <p>mat-grid-list here?</p>
        <app-system></app-system>
        <app-teams></app-teams>
        <app-org></app-org>
    </mat-sidenav-content>
</mat-sidenav-container>



