<mat-card class="microservice-edit" *ngIf="editService">
    <mat-card-header>
        <mat-card-title>Edit Microservice {{editService.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="microservice-edit-form">
            <h2 class="card-headline">Name</h2>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Microservice Name</mat-label>
                            <input matInput name="name" placeholder="John" [(ngModel)]="editService.name" required>
                        </mat-form-field>

            <h2 class="card-headline">Purpose</h2>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Purpose of the Service</mat-label>
                <input matInput name="purpose" #purpose maxlength="100" placeholder="Managing important things..." [(ngModel)]="editService.purpose">
                <mat-hint align="end">{{purpose.value.length || 0}}/100</mat-hint>
            </mat-form-field>

            <h2 class="card-headline">Repository Link</h2>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Repository Link</mat-label>
                <input matInput type="url"
                       name="repository"
                       placeholder="https://github.com/user/repo" [(ngModel)]="editService.repositoryLink">
            </mat-form-field>

            <h2 class="card-headline">Contact Person</h2>

            <mat-form-field appearance="outline">
                <mat-label>Select a team member</mat-label>
                <mat-select [(value)]="editService.contactPersonId" matTooltip="Selection is disabled if the team has no member.">
                    <mat-option *ngFor="let member of editServiceTeamMember" [value]="member.id">{{member.firstname}} {{member.lastname}}</mat-option>
                </mat-select>
            </mat-form-field>

            <h2 class="card-headline">Planned Features <button mat-mini-fab color="primary" (click)="openFeatureNewDialog()"><mat-icon>add</mat-icon></button></h2>

            <table>
                <tr>
                    <th>Unique Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let feature of editService.plannedFeatures | keyvalue" style="vertical-align: top">
                    <td>
                        <strong>{{feature.key}}</strong>
                    </td>
                    <td>
                        {{feature.value}}
                    </td>
                    <td>
                        <button mat-icon-button class="microservice-button" color="primary" (click)="openFeatureEditDialog(feature.key, feature.value)"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button class="microservice-button" color="warn" (click)="removeFeature(feature.key)"><mat-icon>cancel</mat-icon></button>
                    </td>
                </tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <a mat-flat-button class="microservice-button" color="primary" (click)="save()">Save</a>
        <a mat-flat-button class="microservice-button" color="warn" (click)="abort()">Abort</a>
    </mat-card-actions>
</mat-card>