.microservice-button {
  margin: 5px;
}
.microservice-edit {
  margin: 20px;
}

.microservice-edit-form {
  min-width: 350px;
  max-width: 700px;
  width:50%;
}

.full-width {
  width: 100%;
}

.feature-table{
  border: 0;
  thead {
    background-color: white;
    color: gray;
    height:2em;
  }
  th {
    text-align: left;
  }
  td {
    text-align: left;
  }
}

.card-headline {
  margin-top: 1em;
  color : darkgray;
}