<mat-toolbar>
    <mat-toolbar-row>
        <span>Service Stories</span>
        <span class="toolbar-spacer"></span>
        <div class="menu-button-row">
            <button mat-flat-button color="primary" (click)="accordion!.openAll()" class="menu_button">
                <mat-icon>expand_more</mat-icon>
                <span class="menu_item_text">Expand All</span>
            </button>
            <button mat-flat-button color="primary" (click)="accordion!.closeAll()" class="menu_button">
                <mat-icon>expand_less</mat-icon>
                <span class="menu_item_text">Collapse All</span>
            </button>
            <button mat-flat-button color="primary" class="menu_button" routerLink="/system/{{sysId}}/stories/new">
                <mat-icon>book</mat-icon>
                <span class="menu_item_text">New</span>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="grid-container" xmlns:svg="http://www.w3.org/2000/svg">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let story of stories">
            <mat-expansion-panel-header>
                <mat-panel-title>{{story.name}}</mat-panel-title>
                <mat-panel-description *ngIf="story.description">
                    <span><mat-icon>book</mat-icon>
                    {{ story.description | truncate:[30]}}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p></p>
            <table>
                <tr>
                    <td class="expand-data">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-subtitle>Story Graph</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p *ngIf="!nodesReady">No nodes and links to display.</p>
                                <ngx-graph
                                        *ngIf="story.id && nodesReady && storyNodes.get(story.id) && storyEdges.get(story.id)"
                                        class="chart-container"
                                        [view]="[800, 200]"
                                        [showMiniMap]="true"
                                        [draggingEnabled] ="false"
                                        [links]="storyEdges.get(story.id)!"
                                        [nodes]="storyNodes.get(story.id)!"
                                        [layoutSettings]="layoutSettings"
                                        [autoZoom]="true"
                                >
                                    <!-- defining the arrow head as end of edge -->
                                    <ng-template #defsTemplate>
                                        <svg:marker id="arrow{{story.id}}" viewBox="0 -5 10 10" refX="8" refY="0"
                                                    markerWidth="4" markerHeight="4" orient="auto">
                                            <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
                                        </svg:marker>
                                    </ng-template>

                                    <ng-template #nodeTemplate let-node>
                                        <svg xmlns:svg="http://www.w3.org/2000/svg">
                                            <svg:g class="node" width="180" height="150">
                                                <svg:foreignObject width="180" height="150"
                                                                   xmlns:svg="http://www.w3.org/2000/svg"
                                                                   xmlns:xhtml="http://www.w3.org/1999/xhtml">
                                                    <xhtml:div class="nodeBox">
                                                        <table class="full-width">
                                                            <tr class="nodeBox-headline">
                                                                <td>{{ node.label }}</td>
                                                            </tr>
                                                            <tr class="nodeBox-row">
                                                                <td class="nodeBox-data-headline">Owned By</td>
                                                            </tr>
                                                            <tr class="nodeBox-row">
                                                                <td class="nodeBox-data">
                                                                    <mat-icon>group</mat-icon>
                                                                    {{ node.data.ownedBy }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="nodeBox-row">
                                                                <td class="nodeBox-data-headline">Contact</td>
                                                            </tr>
                                                            <tr class="nodeBox-row">
                                                                <td class="nodeBox-data">
                                                                    <mat-icon>contact_support</mat-icon>
                                                                    {{ node.data.spoc }}</td>
                                                            </tr>
                                                        </table>
                                                    </xhtml:div>
                                                </svg:foreignObject>
                                            </svg:g>
                                        </svg>
                                    </ng-template>

                                    <!-- defining the style of edges -->
                                    <ng-template #linkTemplate let-link>
                                        <svg:g class="edge">
                                            <svg:path xmlns:svg="http://www.w3.org/2000/svg" class="line"
                                                      stroke-width="3"
                                                      [attr.marker-end]="'url(#arrow'+story.id+')'"></svg:path>
                                            <svg:text class="edge-label" text-anchor="middle">
                                                <textPath class="text-path" [attr.href]="'#' + link.id"
                                                          startOffset="50%">
                                                    {{link.label}}
                                                </textPath>
                                            </svg:text>
                                        </svg:g>
                                    </ng-template>

                                </ngx-graph>
                            </mat-card-content>
                        </mat-card>
                    </td>
                    <td class="expand-data">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-subtitle>Story Description</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{story.description}}
                            </mat-card-content>
                        </mat-card>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-flat-button color="primary"
                                [routerLink]="['/system',sysId,'stories','edit',story.id]">
                            <mat-icon>edit</mat-icon>
                            Edit Story
                        </button>

                        <button style="margin-left:5px;" matTooltip="click to delete story" mat-flat-button color="warn"
                                (click)="deleteStory(story.id!)">
                            Delete
                        </button>
                    </td>
                </tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>