<mat-toolbar>
    <mat-toolbar-row>
        <span>Service Stories</span>
        <span class="toolbar-spacer"></span>
        <div class="menu-button-row">
            <button mat-flat-button color="primary" (click)="accordion!.openAll()" class="menu_button">
                <mat-icon>expand_more</mat-icon>
                <span class="menu_item_text">Expand All</span>
            </button>
            <button mat-flat-button color="primary" (click)="accordion!.closeAll()" class="menu_button">
                <mat-icon>expand_less</mat-icon>
                <span class="menu_item_text">Collapse All</span>
            </button>
            <button mat-flat-button color="primary" class="menu_button" routerLink="/stories/new">
                <mat-icon>group_add</mat-icon>
                <span class="menu_item_text">New</span>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="grid-container" xmlns:svg="http://www.w3.org/2000/svg">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let story of stories">
            <mat-expansion-panel-header>
                <mat-panel-title>{{story.name}}</mat-panel-title>
                <mat-panel-description>
                    {{ (story.description!.length > 30) ? (story.description!.trim() | slice:0:30) + '...' : (story.description!.trim()) }}
                    <mat-icon>book</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p></p>
            <table>
                <tr>
                    <td class="expand-data">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-subtitle>Story Graph</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <ngx-graph *ngIf="story.id"
                                           class="chart-container"
                                           [view]="[800, 200]"
                                           [showMiniMap]="true"
                                           [links]="storyEdges.get(story.id)!//links"
                                           [nodes]="storyNodes.get(story.id)!//nodes"
                                           [layoutSettings]="layoutSettings"
                                >
                                    <!-- defining the arrow head as end of edge -->
                                    <ng-template #defsTemplate>
                                        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4"
                                                    markerHeight="4" orient="auto">
                                            <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
                                        </svg:marker>
                                    </ng-template>
                                    <!-- defining the style of nodes-->
                                    <ng-template #nodeTemplate let-node>
                                        <svg:g class="node">
                                            <svg:rect [attr.width]="node.dimension.width"
                                                      [attr.height]="node.dimension.height"
                                                      [attr.fill]="node.data.color"/>
                                            <svg:text alignment-baseline="central" [attr.x]="10"
                                                      [attr.y]="node.dimension.height / 2">{{node.label}}</svg:text>
                                        </svg:g>
                                    </ng-template>

                                    <!-- defining the style of edges -->
                                    <ng-template #linkTemplate let-link>
                                        <svg:g class="edge">
                                            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
                                            <svg:text class="edge-label" text-anchor="middle">
                                                <textPath class="text-path" [attr.href]="'#' + link.id"
                                                          [style.dominant-baseline]="link.dominantBaseline"
                                                          startOffset="50%">
                                                    {{link.label}}
                                                </textPath>
                                            </svg:text>
                                        </svg:g>
                                    </ng-template>

                                </ngx-graph>
                            </mat-card-content>
                        </mat-card>
                    </td>
                    <td class="expand-data">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-subtitle>Story Description</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                {{story.description}}
                            </mat-card-content>
                        </mat-card>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <button mat-flat-button color="primary" [routerLink]="['/stories/edit/', story.id]">
                                <mat-icon>edit</mat-icon>
                                Edit Story
                            </button>
                        </p>
                    </td>
                </tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>