<mat-toolbar>
    <mat-toolbar-row>
            <span>Teams</span>
            <span class="toolbar-spacer"></span>
            <div class="menu-button-row">
                <button mat-flat-button color="primary" routerLink="/system/{{sysId}}/teams/new">
                    <mat-icon>group_add</mat-icon>
                    <span class="menu_item_text">New</span>
                </button>
            </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="grid-container">
    <mat-grid-list [cols]="cols$ | async" rowHeight="500px">
        <mat-grid-tile *ngFor="let team of completeTeams">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-subtitle>Team</mat-card-subtitle>
                    <mat-card-title>{{team.name}}</mat-card-title>
                </mat-card-header>
                <mat-divider   class="mat-elevation-z5"></mat-divider>
                <mat-card-content class="team-card-content">
                    <p></p>
                    <table>
                        <tr *ngFor="let member of team.members">
                            <td>{{member.firstname}} {{member.lastname}}</td><td><mat-icon>school</mat-icon></td><td class="table-member-expertise">{{member.expertise}}</td>
                        </tr>
                    </table>

                    <p></p>
                    <h2 class="card-headline">Owned Services</h2>
                    <mat-chip-list>
                        <mat-chip matTooltip="this service is owned by the team." *ngFor="let service of team.ownedMicroservices">{{service.name}}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions class="full-width">
                    <table class="full-width">
                        <tr>
                            <td><button matTooltip="click to edit team" mat-flat-button color="primary" [routerLink]="['/system',sysId,'teams','edit', team.id]">Edit</button></td>
                            <td><button matTooltip="click to delete team" mat-flat-button color="warn" (click)="deleteTeam(team.id)">Delete</button></td>
                        </tr>
                    </table>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
