<mat-toolbar>
    <mat-toolbar-row>
            <span>Team Management</span>
            <span class="toolbar-spacer"></span>
            <div class="example-button-row">
                <button mat-flat-button color="primary">
                    <mat-icon>group_add</mat-icon>
                    <span class="menu_item_text">New</span>
                </button>
            </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="grid-container">
    <mat-grid-list [cols]="cols$ | async" rowHeight="500px">
        <mat-grid-tile *ngFor="let team of completeTeams">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-subtitle>Team</mat-card-subtitle>
                    <mat-card-title>{{team.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="team-card-content">
                    <table>
                        <tr *ngFor="let member of team.members">
                            <td>{{member.firstname}} {{member.lastname}}</td><td><mat-icon>school</mat-icon></td><td class="table-member-expertise">{{member.expertise}}</td>
                        </tr>
                    </table>
                    <mat-divider></mat-divider>
                    <p></p>
                    <h3>Owned Services</h3>
                    <table>
                        <tr *ngFor="let service of team.ownedMicroservices">
                            <td>{{service.name}}</td><td><button mat-button  [routerLink]="['/microservices/edit/', service.id]"><mat-icon>edit</mat-icon>Edit</button></td>
                        </tr>
                    </table>
                </mat-card-content>
                <mat-card-actions class="full-width">
                    <button mat-button  [routerLink]="['/teams/edit/', team.id]">Edit</button>
                    <button mat-button color="warn" (click)="deleteTeam(team.id)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
