.grid-container {
  margin: 20px;
}

.mat-toolbar {
  background: inherit;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

/* CSS for cards */

.card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.mat-card-actions {
  position: absolute;
  left: 8px;
  bottom: 15px;
  text-align: center;
}

.team-card-content {
  margin-left: 16px;
}
.card-headline {
  margin-top: 1em;
  color : darkgray;
}
.table-member-expertise {
  text-overflow: ellipsis;
  color: dimgray;
}

/* CSS classes for 2nd menu bar */
.menu-section {
  display: table;
}
.mat-button {
  margin-right: 10px;
}

.menu_item_text {
  padding-left: 1em;
}

.menu-button-row {
  display: table-cell;
}