<mat-card class="team-edit" *ngIf="editTeam">
    <mat-card-header>
        <mat-card-title>Edit Team {{editTeam.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="team-edit-form">
            <table class="full-width">
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Firstname</mat-label>
                            <input matInput name="firstname" placeholder="John" [(ngModel)]="editTeam.name" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <p>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" name="email" matInput placeholder="john@doe.com" required>
                </mat-form-field>
            </p>
        </form>

    </mat-card-content>
    <mat-card-actions>
        <a mat-button class="team-button" (click)="save()">Save</a>
        <a mat-button class="team-button" color="warn" (click)="abort()">Abort</a>
    </mat-card-actions>
</mat-card>