<mat-card class="team-edit" *ngIf="editTeam">
    <mat-card-header>
        <mat-card-title>Edit Team {{editTeam.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="team-edit-form">
            <h2 class="card-headline">Name</h2>
                <mat-form-field appearance="outline"  class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput name="name" placeholder="Best Team Ever" [(ngModel)]="editTeam.name" required>
                </mat-form-field>


            <h2 class="card-headline">Members</h2>
            <mat-chip-list class="full-width">
                <mat-chip *ngFor="let member of editTeamMembers | keyvalue" matChipRemove (removed)="removeMember(member.key)">
                    {{member.value.firstname}} {{member.value.lastname}}
                    <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <button mat-icon-button color="primary" matTooltip="add a member" (click)="openMemberDialog()"><mat-icon>add</mat-icon></button>
            </mat-chip-list>
            <h2 class="card-headline">Owned Services</h2>
            <mat-chip-list class="full-width">
                <mat-chip *ngFor="let service of editTeamServices | keyvalue" matChipRemove (removed)="removeService(service.key)">
                    {{service.value.name}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <tr>
                    <td><button mat-icon-button color="primary" matTooltip="claim ownership of a microservice" (click)="openMicroserviceDialog()"><mat-icon>add</mat-icon></button></td>
                </tr>
            </mat-chip-list>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <a mat-flat-button class="team-button" color="primary" (click)="save()">Save</a>
        <a mat-flat-button class="team-button" color="warn" (click)="abort()">Abort</a>
    </mat-card-actions>
</mat-card>