.container {
  margin: 20px;
}

.mat-toolbar {
  background: inherit;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.menu-section {
  display: table;
}
.mat-button {
  margin-right: 10px;
}

.menu_item_text {
  padding-left: 1em;
}

.menu-button-row {
  display: table-cell;
}
mat-card-content {
  margin:16px;
}
h3 {
  margin-top: 1em;
  color : dimgray;
  font-weight: 600;
}

.system-button {
  margin: 5px;
}