<h1>List all available microservices</h1>
<button type="button" (click)="getMicroservices()">Get All</button>
<ul>
    <li *ngFor="let microservice of microservices">{{microservice.name}}</li>
</ul>

<h1>Select a specific microservice</h1>
<div>
    <label for="service-id">Microservice Id: </label>
    <input id="service-id" [(ngModel)]="serviceId" placeholder="id">
</div>

<button *ngIf="serviceId" type="button" (click)="getMicroservice(serviceId)">Get One</button>

<div *ngIf="selectedMicroservice">
    <h2>name: {{selectedMicroservice.name}}</h2>
    <h2>id: {{selectedMicroservice.id}}</h2>
    <h2>link: {{selectedMicroservice.repositoryLink}}</h2>

    <h2>modelIds:</h2>
    <ul>
        <li *ngFor="let id of selectedMicroservice.modelIds">modelId: {{id}}</li>
    </ul>
</div>